<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Consulta</title>
</head>

<body>
    <div class="container">
        <h1>Tela de Consulta</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    <td>{{this.nome}}</td>
                    <td>{{this.endereco}}</td>
                    <td>{{this.bairro}}</td>
                    <td>{{this.cep}}</td>
                    <td>{{this.cidade}}</td>
                    <td>{{this.estado}}</td>
                    <td>
                        <a href="/editar/{{this.id}}" class="btn btn-primary">Editar</a>
                        <a href="/excluir/{{this.id}}"><button class="btn btn-danger">Excluir</button></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
